@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #ee0e29;
}

main{
    animation: mainAnimation 2s;
}

@keyframes mainAnimation{
    from{
        transform: scale(0) translateX(-100%) translateY(-100%) rotate(1080deg);
    }

    to{
        transform: scale(100%) translateX(0) translateY(0) rotate(0);
    }
}

.conteiner{
    padding: 0 30%;
}

main img{
    width: 150px;
    transition: all 0.5s ease-in-out;
}

@keyframes imageRotate{
    0%{
        transform: rotate(0) scale(1) skew(0,0);
    }
    50%{
        transform: rotate(360deg) scale(1.8);
    }
    100%{
        transform: rotate(0) scale(1);
    }
}

main img:hover{
    filter: saturate(0);
    animation: imageRotate 5s infinite;
}

h2::after{
    content: 'como tudo isso';
}

label, select{
    display: block;
}

input, textarea{
    margin-bottom: 15px;
    animation: imageRotate 5s 3s;
}

input{
    transition: all 0.5s ease-in-out;
}

input[type="email"]:hover{
    background-color: blue;
}

input:disabled{
    background-color: yellow;
}

textarea{
    transition: all 0.5s ease-in-out;
}

textarea:hover{
    background-color: green;
}

textarea:focus{
    background-color: yellow;
}

select{
    margin: 0px auto 15px;
}

.metodoPagamento label, .opcionais label{
    display: inline-block;
    margin-right: 10px;
}

button{
    margin: 3% 0;
}

fieldset:nth-child(1){
    background-color: #ff0000;
}

fieldset:nth-child(2){
    background-color: #0000ff;
}

fieldset:nth-child(3){
    background-color: #00ff00;
}

fieldset:nth-child(4){
    background-color: #ff0000;
}

fieldset:nth-child(5){
    background-color: #ff0000;
}