*{box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

#desconto{
    background-color: #1CD1B0;
    width: 100%;
    height: 38px;
    padding: 10px 890px 10px 10px;
    font-size: 15px;
}

h1{
    background-color: #00669F;
    width: 100%;
    height: 101px;
    top: 20px;
    bottom: 885px;
    padding: 28px 772px 26px 28px;
    font-size: 40px;
}

.card-pai{
    position: relative;
    top: 48px;
}

.cardBatman{
    width: 374px;
    height: 597px;
    position: absolute;
    top: 225px;
    left: 110px;
}

.cardArlequina{
    width: 374px;
    height: 597px;
    position: absolute;
    top: 225px;
    left: 572px;
}

.capa{
    width: 374px;
    height: 218px;
    top: 225px;
    left: 112px;
}

.foto{
    width: 135px;
    height: 133px;
    border-radius: 50%;
    top: 369px;
}